<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>VueBoolzap</title>
</head>

<body>
<div id="vueContainer">
    <div class="main-background">
        <div class="main">

           <!--colonna 1 con contatti -->
            <div class="col-1"> 

                <div class="main-bar main-bar-1">         <!--barra principale -->
                    <img src="imgs/avatar_io.jpg" alt=""> 
                    <div class="icons">
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>  
               </div>
               
                <div class="notifications">
                    <div class="bell"><i class="fa fa-bell-slash" aria-hidden="true"></i></div>
                    <div>                    
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <h6><u>Attiva notifiche desktop</u></h6>
                    </div>
                </div>
                <div class="searchBar">
                    <input v-model="search" type="text" class="textbarSearch generalTextBar" placeholder=" &#x1F50E;&#xFE0E; Cerca o inizia una nuova chat" >
                    <span v-if="search" @click="redo" >
                         <i class="fa fa-times-circle" aria-hidden="true"></i>
                    </span>
                     
                </div>

                 <!--inizio lista contatti con v-for -->
                <div class="contacts">  

                    <div class="singleCont" v-for="(contact, name, pic) in filteredContacts"
                          @click="openConvo(contact)" :class="{opened:contact === active}">
                        <img v-bind:src="contact.pic" alt="">
                        <div>
                            <h5>{{contact.name}}</h5>
                            <h6>{{lastMessage(contact)}}</h6>
                         </div>
                    </div>
                </div>
            </div>
            
            <!--seconda colonna -->
            <div class="col-2 ">                         
                    <div v-if="active" class="relative">         <!--seconda barra principale con info contatto selezionato-->
                        <div class="main-bar main-bar-2">        
                            <img :src="active.pic" alt="">
                            <div class="name">
                                <h4>{{active.name}}</h4>
                                <h6 v-if="lastAccess">Ultimo accesso {{lastAccess}}</h6>
                            </div>
                            <div class="icons"> 
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                            </div>  
                        </div>
                    </div>

                    
                    <div class="chatSpace" ref="chatContainerToScroll">  <!--chat container-->

                        <div v-for="(element,index ,status) in active.convo">   <!--v-for che mostra i data del contatto selezionato-->
                            <div class="chat-row relative">
          
                                        <div @click="showOptions(element)" v-bind:class="addClasses(element.status)" >                                 
                                                
                                                <h5 class="message">{{element.text}}</h5>        <!--singolo messaggio seguito da info-->
                                                      
                                                    <div class="infoMess">
                                                        <h6>{{element.status}}&nbsp;</h6> 
                                                        <h6 v-if="element.date">{{formatTime(element.date)}}</h6>  
                                                    </div> 
                                        </div>

                                         <!--pop up su messaggi-->
                                        <div v-if="element.showPopup" v-bind:class="addClassesPopUp(element.status)">   
                                            <h5 v-on:click="deleteItem(index)">cancella</h5>
                                        </div>                               
                            </div>
                        </div>
                    </div>
                 <!--barra input della chat-->
                    <div class="chat-bar" v-if="active">                 
                        <div class="icon-chat-bar"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
                        <input v-model="newMess" type="text" @keyup.enter="sendMess" class="chatTextBar generalTextBar">
                        <div class="icon-chat-bar"><i class="fa fa-microphone" aria-hidden="true"></i></div>
                    </div>
            </div>
        </div>   
    
    </div>
</div>
<script src="script/myScript.js"></script>


</body>
</html>




